################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.exe
/source/__history/Builder.pas.~1~
/source/__history
/source/Zautomatic.identcache
/source/Zautomatic.dproj.local
/units/win32
/samples/sample1/__history
/samples/sample1/Messages.log
/source/InternalPlugin/__history
/source/Plugins/__history
/source/RTL/__history
/source/Imports/__history
/source/Includes/__history
/source/Plugins/API/__history
/source/Plugins/Imports/__history
/samples/sample1/test2.zip
/samples/sample2/__history
/samples/sample2/Messages.log
/samples/sample3/Messages.log
/samples/sample3/__history
/samples/sample4/__history
*.log
/samples/sample5/__history
/source/Plugins/ExtraClasses/__history
/build/plugins/Plugin_Zip.dll
*.local
/units
/source/units/win32
*.identcache
/build/ZCore.bpl
/build/__history
/build/plugins/Zip.dll
/build/Zautomatic.config
/build/plugins/Task.dll
/build/ZautoCore.bpl
/build/ZautoCore.dcp
/samples/sample6/__history
/samples/sample7/__history
/samples/sample8/__history
/doc/XMLDocumentation
*.stat
/samples/MSBuild/.vs/TestApp/v14
/samples/MSBuild/obj/Debug
/samples/MSBuild/bin/Debug
/samples/Delphi/__history
/build/ZautoShell.64.DLL
/build/ZautoShell.64.rsm
/deploy/bin
/deploy/Includes
/samples/ProjectConfig/__history/sample3.zap.~1~
/samples/projecttask/__history/sample7a.zas.~1~
/samples/ProjectConfig/__history/sample3.zap.~2~
/samples/projecttask/__history/sample7b.zas.~1~
/samples/Shell/__history/sample2.zas.~1~
/samples/Zip/__history/sample1.zap.~3~
/samples/Zip/__history/sample1.zap.~2~
/samples/Zip/__history/sample1.zap.~1~
/source/Shell/__history
/build/ZautoShell.dll
*.dcp
/build/plugins
/build/CodeImatic.build.core.bpl
/build/CodeImatic.build.core.rsm
/build/CodeImatic.build.rsm
build/CodeImaticShell.64.dll
source/Plugins/Zip.identcache
source/Plugins/Zip.identcache
source/Plugins/Zip.identcache
*.~1~
*.~1~
*.~1~
build/codeimatic.build.config
build/codeimatic.build.config
build/codeimatic.build.config
build/codeimatic.build.config
build/libcrypto-1_1-x64.dll
build/libcurl-x64.dll
build/libssl-1_1-x64.dll
samples/cURL/rubyinstaller-devkit-2.6.1-1-x64.exe2
build/CodeImatic.build_MemoryManager_EventLog.txt
build/codeimatic.build.config
