################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.exe
/source/__history/Builder.pas.~1~
/source/__history
/source/Zautomatic.identcache
/source/Zautomatic.dproj.local
/units/win32
/samples/sample1/__history
/samples/sample1/Messages.log
/source/InternalPlugin/__history
