################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.exe
/source/__history/Builder.pas.~1~
/source/__history
/source/Zautomatic.identcache
/source/Zautomatic.dproj.local
/units/win32
/samples/sample1/__history
/samples/sample1/Messages.log
/source/InternalPlugin/__history
/source/Plugins/__history
/source/RTL/__history
/source/Imports/__history
/source/Includes/__history
/source/Plugins/API/__history
/source/Plugins/Imports/__history
/samples/sample1/test2.zip
/samples/sample2/__history
/samples/sample2/Messages.log
/samples/sample3/Messages.log
/samples/sample3/__history
/samples/sample4/__history
*.log
/samples/sample5/__history
/source/Plugins/ExtraClasses/__history
/build/plugins/Plugin_Zip.dll
*.local
/units
